<div class="header-main-container">
    <img src="../../assets/netflixlogo.png" class="header-netflix-logo" [routerLink]="['/']" />
    <div>
        <button class="header-options-buttons">
            <a><strong>Início</strong></a>
        </button>
        <button class="header-options-buttons">
            <a>Séries</a>
        </button>
        <button class="header-options-buttons">
            <a>Filmes</a>
        </button>
        <button class="header-options-buttons">
            <a>Bombando</a>
        </button>
        <button class="header-options-buttons">
            <a>Minha lista</a>
        </button>
        <button class="header-options-buttons">
            <a>Navegar por idiomas</a>
        </button>
    </div>
</div>